* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #27292F;
  box-sizing: border-box;
  line-height: 150%;
}

a {
  text-decoration: none;
  color: #27292F;
}

input,
textarea {
  outline: none;
}

body {
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

header {
  position: relative;
  z-index: 3;
}

.header_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.header_flex_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 490px;
  width: 100%;
}

.header_flex_nav a {
  font-size: 16px;
  line-height: 150%;
  transition: .3s;
}

.header_flex_nav a:hover {
  color: #FF7337;
}

.header_flex_nav_wrap_box {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 390px;
  top: 30px;
  left: 0;
  border: 1px solid;
  border-radius: 15px;
  border: 1px solid #f2f2f2;
  padding: 30px 30px 15px 30px;
  z-index: 10;
  background-color: #fff;
}

.header_flex_nav_wrap_box.active {
  display: flex;
}

.header_flex_nav_wrap_box a {
  color: #A2A2A3;
  font-size: 16px;
  margin-bottom: 15px;
  transition: .3s;
}

.header_flex_nav_wrap_box a:hover {
  background-image: radial-gradient(161.31% 317% at -61.31% -154%, #FFCA8C 0%, #FF7337 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header_flex_nav_wrap {
  position: relative;
}

.header_flex_nav_wrap_elem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.header_flex_nav_wrap_elem span {
  font-size: 16px;
  line-height: 150%;
  transition: .3s;
}

.header_flex_nav_wrap_elem span:hover {
  color: #3757FF;
}

.header_flex_nav_wrap_elem i {
  border-radius: 50%;
  color: #686a6e;
  margin-left: 6px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_flex_end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_flex_end_call_email {
  display: flex;
  align-items: center;
}

.header_flex_end_call_email a:nth-child(1) {
  font-size: 18px;
  line-height: 150%;
  color: #3757ff;
  margin-right: 30px;
}

.header_flex_end_call_email a:nth-child(2) {
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
}

.header_flex_end button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 54px;
  border: 1px solid #F2F2F2;
  border-radius: 500px;
  border: none;
  cursor: pointer;
  margin-left: 30px;
  transition: .3s;
}

.header_flex_end button:hover {}

.header_flex_end button:hover span {}

.header_flex_end button:hover i {}

.header_flex_end button p {
  font-weight: 500;
  line-height: 150%;
  font-size: 16px;
  transition: .3s;
  text-transform: uppercase;
}

.header_flex_end button p span {
  font-weight: 500;
  line-height: 150%;
  font-size: 16px;
  transition: .3s;
  color: #3757FF;
  text-transform: uppercase;
}

.header_flex_end button i {
  margin-left: 15px;
  transition: .3s;
  width: 44px;
  height: 44px;
  background: #3757FF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -15px;
}

.menu {
  display: none;
}

.menu.active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 5;
}

.menu .header_flex {
  padding-bottom: 10px;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid #f2f2f2;
}


.menu .header_flex_end_burger {
  background: #27292F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu .header_flex_end_burger i {
  background-image: url(../img/icon/close.svg);
  width: 15px;
  height: 15px;
}

.menu_link,
.menu_box_elem span,
.menu_box_elem i {
  font-size: 23px;
}

.menu_link {
  display: block;
  padding: 30px 30px;
  border-bottom: 1px solid #f2f2f2;
}

.menu_box_elem i {
  margin-left: 5px;
  color: #686A6E;
}

.menu_box_wrap_item {
  font-size: 14px;
  display: block;
  padding: 15px 30px;
  border-bottom: 1px solid #f2f2f2;
}

.menu_box_elem {
  padding: 30px 30px;
  display: block;
  border-bottom: 1px solid #f2f2f2;
  position: relative;
  cursor: pointer;
}

.open .menu_box_elem::after {
  content: "-";
  font-size: 26px;
  color: #3757FF;
  position: absolute;
  right: 30px;
  top: 38px;
}

.menu_box_elem::after {
  content: "+";
  font-size: 26px;
  color: #3757FF;
  position: absolute;
  right: 30px;
  top: 33px;
}

.menu_footer {
  padding: 20px 30px;
  background: #3757FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_box_wrap {
  display: none;
}

.menu_box_wrap .menu_box_wrap_item:last-child {
  border-bottom: 1px solid #f2f2f2;
}

.menu_box {
  background: #F9F9F9;
}

.menu_footer a {
  color: #fff;
  font-size: 17px;
}

.menu_footer button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  border: none;
  width: 108px;
  height: 39px;
}

.menu_footer button p {
  font-size: 12px;
  font-weight: 500;
  margin-right: 13px;
}

.menu_footer button i {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3757FF;
  margin-right: -18px;
}

.menu_footer button i img {
  width: 12px;
  height: 12px;
  object-fit: cover;
  object-position: center;
}


main {
  position: relative;
  margin-top: 50px;
}

main img {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
}

main h1 {
  max-width: 983px;
  width: 100%;
  font-size: 96px;
  line-height: 100%;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 128px;
  position: relative;
  z-index: 3;
}

.main_flex {
  position: relative;
  z-index: 1;
  display: flex;
  margin-top: 50px;
  border: 1px solid #F2F2F2;
  border-bottom: none;
  max-width: 730px;
  width: 100%;
}

.main_flex_item {
  padding: 30px;
  width: 50%;
}

.main_flex .main_flex_item:nth-child(1) {
  border-right: 1px solid #F2F2F2;
}

.main_flex_item b {
  width: 55px;
  height: 55px;
  background: #F1F7FC;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_flex_item b i {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
}

.main_flex .main_flex_item:nth-child(1) i {
  background-image: url(../img/icon/trigger1.svg);
}

.main_flex .main_flex_item:nth-child(2) i {
  background-image: url(../img/icon/trigger2.svg);
}

.main_flex_item span {
  font-size: 24px;
  display: block;
  margin: 15px 0 5px 0;
}

.main_flex_item p {
  color: #686A6E;
  font-size: 18px;
}

.main_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 730px;
  width: 100%;
  background: #3757FF;
  border: none;
  height: 104px;
  padding: 0 30px;
  position: relative;
  z-index: 3;
}

.main_button_text {
  color: #FFFFFF;
  font-size: 24px;
}

.main_button_present {
  display: flex;
  align-items: center;
}

.main_button_present i {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/present.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
}

.main_button_present span {
  color: #fff;
  font-size: 18px;
}

.main_button_icon {
  width: 44px;
  height: 44px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_button_icon i {
  width: 16px;
  height: 16px;
  background-image: url(../img/icon/arrow_button_blue.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section {
  margin-top: 160px;
}

.headling {
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px;
}

.headling p {
  margin-left: 30px;
  color: #3757FF;
  font-size: 18px;
  margin-bottom: 3px;
}

.headling h2 {
  font-weight: 400;
  font-size: 80px;
  line-height: 100%;
  text-transform: uppercase;
}

.headling h2 span {
  font-weight: 400;
  font-size: 80px;
  line-height: 100%;
  display: block;
  margin-left: 190px;
  text-transform: uppercase;
}

.tariffs_flex {
  display: flex;
  padding: 20px 0px 20px 20px;
  border: 1px solid #F2F2F2;
  margin-top: 30px;
}

.tariffs_flex_img {
  width: 45%;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.tariffs_flex_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.tariffs_flex_img span {
  position: absolute;
  top: 25px;
  left: 50px;
  color: #F2F2F2;
  line-height: 100%;
  font-size: 32px;
}

.tariffs_flex_img p {
  position: absolute;
  top: 73px;
  left: 50px;
  color: #F2F2F2;
  font-size: 48px;
  font-weight: 400;
  line-height: 100%;
}

.tariffs_flex_text {
  width: 100%;
}

.tariffs_flex_text_one {
  font-size: 24px;
  margin-left: 140px;
  padding-right: 40px;
  padding-bottom: 15px;
}

.tariffs_flex_text_one::after {
  content: 'Что входит:';
  font-size: 24px;
  color: #3757FF;
}

.tariffs_flex_text_item {
  border-top: 1px solid #F2F2F2;
  display: flex;
  justify-content: space-between;
}

.tariffs_flex_text_item .tariffs_flex_text_item_elem:nth-child(1),
.tariffs_flex_text_item .tariffs_flex_text_item_elem:nth-child(3),
.tariffs_flex_text_item .tariffs_flex_text_item_elem:nth-child(5) {
  margin-left: 140px;
}

.tariffs_flex_text_item .tariffs_flex_text_item_elem:nth-child(2),
.tariffs_flex_text_item .tariffs_flex_text_item_elem:nth-child(4),
.tariffs_flex_text_item .tariffs_flex_text_item_elem:nth-child(6) {
  padding-right: 20px;
}

.tariffs_flex_text_item_elem {
  width: calc(50% - 5px);
  padding: 15px 0;
}

.tariffs_flex_text_item_elem span {
  font-size: 18px;
}

.tariffs_flex_text_item_elem p {
  font-size: 18px;
  color: #686A6E;
}

.tariffs_flex_text_button {
  border-top: 1px solid #F2F2F2;
  padding: 15px 20px 0 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tariffs_flex_text_button span {
  font-size: 48px;
}

.tariffs_flex_text_button button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 134px;
  height: 54px;
  background: #3757FF;
  border: none;
  border-radius: 500px;
}

.tariffs_flex_text_button button p {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  margin-right: 15px;
}

.tariffs_flex_text_button button b {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  margin-right: -18px;
}

.tariffs_flex_text_button button b i {
  width: 16px;
  height: 16px;
  background-image: url(../img/icon/arrow_button_blue2.svg);
  background-repeat: no-repeat;
}

.keys .container {
  position: relative;
}

.keys_bg {
  position: absolute;
  top: -100px;
  left: 135px;
  z-index: 1;
}

.keys_headling {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: relative;
}

.keys_headling a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 163px;
  height: 54px;
  border: 1px solid #F2F2F2;
  border-radius: 500px;
}

.keys_headling.mobile {
  display: none;
}

.keys_headling a p {
  font-size: 16px;
  margin-right: 15px;
}

.keys_headling a i {
  width: 16px;
  height: 16px;
  background-image: url(../img/icon/arrow_button_blue2.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.keys_headling h2 {
  font-size: 80px;
  line-height: 100%;
  text-transform: uppercase;
}

.keys_headling h2 p {
  font-size: 80px;
  line-height: 100%;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 115px;
}

.keys_headling h2 p b {
  font-size: 80px;
  line-height: 100%;
  text-transform: uppercase;
  color: #3757FF;
}

.keys_slider {
  margin-top: 50px;
}

.keys_slider_item {
  width: 100%;
}

.keys_slider_item_box {
  display: flex;
  justify-content: space-between;
  padding: 0 3px;
}

.keys_slider_item_box_left {
  width: calc(50% - 10px);
}

.keys_slider_item_box_left_tittle {
  padding-top: 90px;
  font-size: 48px;
  line-height: 100%;
}

.keys_slider_item_box_left_tittle span {
  font-size: 48px;
  line-height: 100%;
  color: #3757FF;
}

.keys_slider_item_box_left_flex {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.keys_slider_item_box_left_flex span {
  color: #A2A2A3;
  font-size: 18px;
  width: calc(50% - 10px);
}

.keys_slider_item_box_left_flex p {
  font-size: 18px;
  display: flex;
  align-items: center;
  width: calc(50% - 10px);
}

.keys_slider_item_box_left_flex p i {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/map.svg);
  margin-right: 10px;
}

.keys_slider_item_box_left_flex_grey {
  width: calc(50% - 10px);
  background: #F9F9F9;
  padding: 30px;
  margin-top: 75px;
}

.keys_slider_item_box_left_flex_grey span {
  color: #A2A2A3;
  font-size: 18px;
  display: block;
  font-weight: 600;
}


.keys_slider_item_box_left_flex_grey p {
  font-size: 18px;
  margin-top: 10px;
  width: 100%;
}

.keys_slider_item_box_left_flex_blue {
  width: calc(50% - 10px);
  background: #3757FF;
  padding: 30px;
  margin-top: 75px;
}

.keys_slider_item_box_left_flex_blue span {
  color: #fff;
  font-size: 18px;
  display: block;
  font-weight: 600;
}


.keys_slider_item_box_left_flex_blue p {
  font-size: 18px;
  margin-top: 10px;
  color: #fff;
  width: 100%;
}

.keys_slider_item_box_right {
  display: flex;
  border: 1px solid #F2F2F2;
  width: calc(50% - 10px);
}

.keys_slider_item_box_right_item {
  width: calc(100%/3);
}

.keys_slider_item_box_right_item_tittle {
  font-size: 18px;
  text-align: center;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #F2F2F2;
  border-right: 1px solid #F2F2F2;
}

.keys_slider_item_box_right_item_graf {
  display: flex;
  align-items: flex-end;
  height: calc(100% - 57px);
  border-right: 1px solid #f2f2f2;
  position: relative;
}

.keys_slider_item_box_right_item_graf::after {
  width: 1px;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: calc(50% - 1px);
  background: #f2f2f2;
}

.keys_slider_item_box_right_item_graf_grey {
  width: 50%;
  background: #A2A2A3;
  position: relative;
}

.keys_slider_item_box_right_item_graf_grey span {
  color: #686A6E;
  font-size: 24px;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

.keys_slider_item_box_right_item_graf_blue span {
  color: #3757FF;
  font-size: 24px;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

.keys_slider_item_box_right_item_graf_blue {
  width: 50%;
  background: #3757FF;
  position: relative;
}

.keys_slider_item_box_right_item_graf_grey.big {
  height: 120px;
}

.keys_slider_item_box_right_item_graf_grey.middle {
  height: 44px;
}

.keys_slider_item_box_right_item_graf_grey.small {
  height: 24px;
}

.keys_slider_item_box_right_item_graf_blue.big {
  height: 430px;
}

.keys_slider_item_box_right_item_graf_blue.middle {
  height: 295px;
}

.keys_slider_item_box_right_item_graf_blue.small {
  height: 340px;
}

.keys_slider_nav {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  height: 64px;
}

.keys_slider_nav_prev,
.keys_slider_nav_next {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  transition: .3s;
}

.keys_slider_nav_prev i {
  width: 16px;
  height: 16px;
  background-image: url(../img/icon/arrow_button_blue2.svg);
  background-repeat: no-repeat;
  transform: rotate(180deg);
  transition: .3s;
}

.keys_slider_nav_next i {
  width: 16px;
  height: 16px;
  background-image: url(../img/icon/arrow_button_blue2.svg);
  background-repeat: no-repeat;
  transition: .3s;
}

.keys_slider_nav_prev:hover {
  background: #3757FF;
  border: 1px solid #3757FF;
}

.keys_slider_nav_prev:hover i {
  background-image: url(../img/icon/arrow_button.svg);
  transform: rotate(180deg);
}

.keys_slider_nav_next:hover {
  background: #3757FF;
  border: 1px solid #3757FF;
}

.keys_slider_nav_next:hover i {
  background-image: url(../img/icon/arrow_button.svg);
}

section.rose {
  padding: 160px 0 160px 0;
  background: #F9F9F9;
}

.rose h2 {
  font-size: 80px;
  line-height: 100%;
  font-weight: 400;
  text-transform: uppercase;
}

.rose_flex {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.rose_flex_left {
  width: 50%;
  border: 1px solid #ececec;
  border-right: none;
  border-bottom: none;
}

.rose_flex_right {
  width: 50%;
  background: #3757FF;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
}

.rose_flex_left_box {
  display: flex;
  justify-content: space-between;
  height: 50%;
}

.rose_flex_left_box_item {
  width: 50%;
  padding: 30px;
  border-bottom: 1px solid #ececec;
}

.rose_flex_left_box .rose_flex_left_box_item:nth-child(1) {
  border-right: 1px solid #ececec;
}

.rose_flex_left_box_item span {
  background: #F1F7FC;
  width: 55px;
  height: 55px;
  color: #3757FF;
  font-size: 18px;
  line-height: 55px;
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.rose_flex_left_box_item span.active {
  color: #fff;
  background: #3757FF;
}

.rose_flex_left_box_item p {
  font-size: 24px;
}

.rose_flex_left_box_item p.active {
  font-size: 24px;
  color: #3757FF;
}

.rose_flex_left_box_item b {
  color: #686A6E;
  font-size: 18px;
  font-weight: 400;
}

.rose_flex_right_tittle {
  font-size: 48px;
  color: #fff;
  line-height: 100%;
}

.rose_flex_right p {
  font-size: 24px;
  color: #fff;
  margin: 25px 0 0 0;
}

.rose_flex_right button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 174px;
  height: 54px;
  border-radius: 500px;
  background: #fff;
  border: none;
  margin-top: 80px;
}

.rose_flex_right button span {
  font-size: 16px;
  font-weight: 500;
  color: #3757FF;
  margin-right: 15px;
  text-transform: uppercase;
}

.rose_flex_right button b {
  width: 44px;
  height: 44px;
  background: #3757FF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -20px;
}

.rose_flex_right button b i {
  width: 16px;
  height: 16px;
  background-image: url(../img/icon/arrow_button.svg);
}

.rose_headling {
  margin-top: 160px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px;
}

.rose_headling span {
  font-size: 18px;
  color: #3757FF;
  margin-bottom: 5px;
}

.rose_item {
  padding: 60px;
}

.rose_item.white {
  background: #fff;
}

.rose_item span {
  font-size: 48px;
  line-height: 100%;
  color: #3757FF;
}

.rose_item p {
  font-size: 18px;
  color: #686A6E;
  margin-top: 15px;
}

.question_box {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.question_box_left,
.question_box_right {
  width: calc(50% - 10px);
}

.question_box_left h2 {
  font-size: 80px;
  line-height: 100%;
  text-transform: uppercase;
}

.question_box_left span {
  font-size: 32px;
  color: #3757FF;
  margin-top: 50px;
  display: block;
}

.question_box_left button {
  width: 240px;
  height: 54px;
  border: 1px solid #F2F2F2;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background: transparent;
  cursor: pointer;
}

.question_box_left button p {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 15px;
}

.question_box_left button b {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #3757FF;
  margin-right: -15px;
}

.question_box_left button b i {
  width: 16px;
  height: 16px;
  background-image: url(../img/icon/arrow_button.svg);
}

.accordion_item_head {
  background: #F9F9F9;
  padding: 40px 94px 40px 30px;
  font-size: 24px;
  line-height: 100%;
  position: relative;
  transition: .3s;
  cursor: pointer;
}

.accordion_item_head::after {
  position: absolute;
  content: '';
  top: 24px;
  right: 30px;
  width: 54px;
  height: 54px;
  display: block;
  background: #3757FF;
  border-radius: 50%;
  transition: .3s;
  cursor: pointer;
}

.accordion_item_head::before {
  content: '+';
  color: #fff;
  position: absolute;
  right: 50px;
  top: 38px;
  transition: .3s;
  display: block;
  z-index: 2;
  font-size: 20px;
}

.open .accordion_item_head {
  background-color: transparent;
}

.open .accordion_item_head::after {
  background: #27292F;
}

.open .accordion_item_head::before {
  content: '-';
  color: #fff;
  position: absolute;
  right: 52px;
  top: 38px;
  transition: .3s;
  display: block;
  z-index: 2;
  font-size: 20px;
}

.accordion_item_body {
  display: none;
  padding: 0 100px 30px 30px;
}

.accordion_item_body p {
  margin-bottom: 30px;
  font-size: 18px;
  color: #686A6E;
}

.accordion_item_body ul {
  padding-left: 20px;
}

.accordion_item_body ul li {
  margin-top: 15px;
  font-size: 18px;
  position: relative;
  list-style-type: none;
}

.accordion_item_body ul li::after {
  content: '';
  position: absolute;
  top: 13px;
  left: -16px;
  width: 4px;
  height: 4px;
  background: #3757FF;
  border-radius: 50%;
}

.promotion {
  position: relative;
}

.promotion_bg {
  position: absolute;

  right: 0;
  bottom: 0;
}

.promotion h2 {
  font-size: 80px;
  line-height: 100%;
  font-weight: 400;
  text-transform: uppercase;
}

.promotion_subtittle {
  color: #686A6E;
  font-size: 18px;
  margin-top: 40px;
  max-width: 1180px;
  width: 100%;
}

.promotion_tittle {
  margin-top: 60px;
  font-size: 48px;
  line-height: 100%;
  max-width: 1080px;
  width: 100%;
  position: relative;
  z-index: 3;
}

.promotion ul {
  padding-left: 20px;
  margin-top: 40px;
}

.promotion ul li {
  margin-bottom: 15px;
  font-size: 18px;
  list-style-type: none;
  position: relative;
}

.promotion ul li::after {
  position: absolute;
  content: '';
  top: 12px;
  left: -15px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #3757FF;
}

.promotion button {
  width: 213px;
  height: 54px;
  border-radius: 500px;
  border: 1px solid #F2F2F2;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
}

.promotion button p {
  font-size: 16px;
  margin-right: 10px;
}

.promotion button i {
  width: 8px;
  height: 7px;
  background-image: url(../img/icon/arrow_top.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.last {
  background: #3757FF;
  padding: 160px 0 160px 0;
}

section.last h2 {
  color: #fff;
  font-size: 80px;
  line-height: 100%;
  font-weight: 400;
  text-transform: uppercase;
}

.last_box {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.last_box_flex {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.last_box_flex_item {
  width: 50%;
  position: relative;
  border: 1px solid #ffffff33;
  border-right: none;
  padding: 30px;
}

.last_box_flex_item span {
  display: block;
  background: #FFFFFF1A;
  color: #fff;
  font-size: 18px;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  margin-bottom: 50px;
}

.last_box_flex_item a {
  font-size: 24px;
  color: #fff;
  margin-bottom: 5px;
}

.last_box_flex_item p {
  font-size: 18px;
  color: #fff;
}

.last_box_flex .last_box_flex_item:nth-child(1) i {
  position: absolute;
  bottom: 42px;
  width: calc(100% - 60px);
  left: 30px;
  height: 1px;
  display: block;
  background: #FFFFFF;
}

.last_box_flex .last_box_flex_item:nth-child(2) i {
  position: absolute;
  bottom: 30px;
  width: calc(100% - 60px);
  left: 30px;
  height: 23px;
  display: block;
  background-image: url(../img/icon/arrow_big.svg);
  background-position: right;
  background-repeat: no-repeat;
}

.last_box_form {
  width: 50%;
  background: #fff;
  padding: 60px;
}

.last_box_form_tittle {
  font-size: 48px;
  line-height: 100%;
  margin-bottom: 30px;
}

.last_box_form_flex {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.last_box_form_flex_input {
  position: relative;
  width: calc(50% - 5px);
  height: 64px;
}

.last_box_form_flex_input input {
  height: 64px;
  width: 100%;
  border: 1px solid #F2F2F2;
  background: transparent;
  border-radius: 500px;
  padding: 0 30px;
  font-size: 18px;
  transition: .3s;
}

.last_box_form_flex_input input:focus {
  border: 1px solid #3757FF;
}

form .last_box_form_flex:nth-child(1) .last_box_form_flex_input span::after {
  content: '*';
  color: #3757FF;
  font-size: 18px;
}

.last_box_form_flex_input span {
  position: absolute;
  color: #686A6E;
  top: 20px;
  font-size: 18px;
  left: 30px;
  transition: .3s;

}

.last_box_form textarea {
  margin-top: 10px;
  height: 170px;
  border: 1px solid #F2F2F2;
  border-radius: 32px;
  padding: 20px 30px;
  width: 100%;
  resize: none;
}

.last_box_form textarea::placeholder {
  color: #686A6E;
  font-size: 18px;
}

.last_box_form_wrap {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.last_box_form_wrap p {
  font-size: 18px;
  width: calc(50% - 5px);
}

.last_box_form_wrap p a {
  font-size: 18px;
  color: #3757FF;
}

.last_box_form_wrap_file {
  width: calc(50% - 5px);
  position: relative;
  height: 64px;
  cursor: pointer;
}

.last_box_form_wrap_file input {
  width: 100%;
  height: 64px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.last_box_form_wrap_file label {
  width: 100%;
  height: 64px;
  cursor: pointer;
  border-radius: 500px;
  border: 1px dashed #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.last_box_form_wrap_file label span {
  font-size: 18px;
  margin-left: 10px;
}


.last_box_form_wrap_file label i {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/file.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.last_box_form_submit {
  margin-top: 30px;
  width: 100%;
  height: 64px;
  border-radius: 500px;
  background: #3757FF;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: relative;
}

.last_box_form_submit p {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}

.last_box_form_submit b {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5px;
  top: 5px;
}

.last_box_form_submit b i {
  width: 16px;
  height: 16px;
  background-image: url(../img/icon/arrow_button_blue2.svg);
}

.last_box_form_politico {
  margin-top: 10px;
  font-size: 16px;
  position: relative;
}

.last_box_form_politico a {
  font-size: 16px;
  color: #3757FF;
}

.last_box_form_politico::before {
  content: '*';
  color: #3757FF;
  font-size: 16px;
}

footer {
  padding: 80px 0;
}

footer .container {
  position: relative;
}

.footer_flex {
  display: flex;
  justify-content: space-between;
}

.footer_flex_box {
  display: flex;
  justify-content: space-between;
  max-width: 516px;
  width: 100%;
}

.footer_flex_box_item {
  max-width: 340px;
  flex-shrink: 0;
  width: 100%;
}

.footer_flex_box_item_elem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer_flex_box_item_elem p {
  font-size: 18px;
  color: #A2A2A3;
}

.footer_flex_box_item_elem i {
  font-size: 18px;
  color: #3757FF;
  margin-left: 4px;
}

.footer_flex_box_item_box a {
  display: block;
  font-size: 16px;
  margin-bottom: 15px;
}

.footer_flex_box_item_box a:last-child {
  margin-bottom: 0px;
}

.footer_flex_box_wrap span {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  color: #A2A2A3;
}

.footer_flex_box_wrap a {
  display: block;
  font-size: 16px;
  margin-bottom: 15px;
}

.footer_flex_last a:nth-child(1) {
  font-size: 40px;
  line-height: 40px;
}

.footer_flex_last_big {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 235px;
  justify-content: space-between;
  align-items: flex-end;
}

.footer_flex_last_big a {
  font-size: 24px !important;
  color: #3757FF;
  text-align: right;
}

.footer_flex_last button {
  width: 221px;
  height: 54px;
  border-radius: 500px;
  border: 1px solid #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
}

.footer_flex_last button p {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  margin-right: 15px;
}

.footer_flex_last button p span {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: #3757FF;
}

.footer_flex_last button b {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #3757FF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -12px;
}

.footer_flex_last button b i {
  width: 16px;
  height: 16px;
  background-image: url(../img/icon/arrow_button.svg);
}

.footer_box {
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer_box p {
  font-size: 14px;
  color: #3757FF;
  line-height: 100%;
}

.footer_box a {
  display: block;
  font-size: 14px;
  color: #A2A2A3;
  margin-top: 10px;
  line-height: 100%;
}

@media (max-width: 1500px) {
  .container {
    width: auto;
    padding: 0 30px;
  }

  .header_flex_nav {
    max-width: 450px;
    width: 100%;
  }

  .footer_box {
    position: absolute;
    left: 30px;
    bottom: 0;
  }

  main img {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;
  }
}

@media (max-width: 1800px) {
  main img {
    width: 900px;
    height: auto;
  }
}

@media (max-width: 1400px) {
  main img {
    width: 800px;
    height: auto;
  }

  main h1 {
    padding-top: 58px;
  }
}

@media (max-width: 1270px) {
  .header_flex_nav {
    display: none;
  }

  .header_flex_end_call_email {
    display: none;
  }

  .header_flex_end_burger {
    height: 54px;
    width: 54px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    background: #F1F7FC;
    margin-left: 30px;
  }

  .header_flex_end_burger span {
    width: 20px;
    height: 2px;
    background: #3757FF;
  }

  .header_flex_end_burger span:nth-child(2) {
    margin: 5px 0;
  }

  main img {
    top: 100px;
    width: 600px;
    height: auto;
  }

  main h1 {
    padding-top: 38px;
    font-size: 80px;
    max-width: 800px;
  }

  .keys_slider_item_box_left_tittle {
    padding-top: 80px;
    font-size: 35px;
  }

  .keys_slider_item_box_left_tittle span {
    font-size: 35px;
  }

  .rose_flex_left_box_item {
    padding: 15px;
  }

  .rose_flex_left_box_item span {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    line-height: 40px;
    font-size: 14px;
  }

  .rose_flex_left_box_item p {
    font-size: 20px;
  }

  .rose_flex_left_box_item p.active {
    font-size: 20px;
  }

  .rose_flex_left_box_item b {
    font-size: 16px;
  }

  .rose_flex_right {
    padding: 30px;
  }

  .rose_flex_right_tittle {
    font-size: 40px;
  }

  .rose_flex_right p {
    font-size: 20px;
    margin: 20px 0 0 0;
  }

  .rose_item span {
    font-size: 40px;
  }

  .rose_item {
    padding: 30px;
  }

  .last_box_form {
    width: 530px;
    padding: 30px;
    flex-shrink: 0;
  }

  .last_box_flex {
    width: 100%;
  }

  .last_box_flex_item {
    padding: 20px;
  }

  .footer_box {
    max-width: 250px;
    width: 100%;
  }

  .footer_flex_logo {
    max-width: 260px;
    width: 100%;
  }

  .footer_flex_last a:nth-child(1) {
    font-size: 30px;
    line-height: 100%;
  }

  .footer_flex_box {
    max-width: 456px;
  }
}

@media (max-width: 1070px) {
  main img {
    top: 0px;
    width: auto;
    height: 585px;
  }

  .main_flex {
    max-width: 530px;
  }

  .main_button {
    max-width: 530px;
    width: 100%;
    height: 94px;
    padding: 0 15px;
  }

  .main_button_text {
    font-size: 16px;
  }

  .main_button_present span {
    font-size: 16px;
  }

  .main_flex_item {
    padding: 15px;
  }

  main h1 {
    padding-top: 38px;
    font-size: 70px;
    max-width: 700px;
  }

  .headling h2 {
    font-size: 60px;
  }

  .headling h2 span {
    font-size: 60px;
    margin-left: 140px;
  }

  .tariffs_flex_text_one {
    font-size: 18px;
    margin-left: 40px;
    padding-right: 40px;
  }

  .tariffs_flex_text_one::after {
    font-size: 18px;
  }

  .tariffs_flex_text_button span {
    font-size: 35px;
  }

  .tariffs_flex_text_item .tariffs_flex_text_item_elem:nth-child(1),
  .tariffs_flex_text_item .tariffs_flex_text_item_elem:nth-child(3),
  .tariffs_flex_text_item .tariffs_flex_text_item_elem:nth-child(5) {
    margin-left: 40px;
  }

  .tariffs_flex_text_item_elem span {
    font-size: 16px;
  }

  .tariffs_flex_text_item_elem p {
    font-size: 16px;
  }

  .tariffs_flex_text_button {
    padding: 15px 20px 0 40px;
  }

  .tariffs_flex_img {
    width: 350px;
  }

  .tariffs_flex_img span {
    top: 25px;
    left: 30px;
    font-size: 22px;
  }

  .tariffs_flex_img p {
    top: 55px;
    left: 30px;
    font-size: 30px;
  }

  .keys_headling h2 {
    font-size: 60px;
  }

  .keys_headling h2 p {
    font-size: 60px;
    margin-left: 55px;
  }

  .keys_headling h2 p b {
    font-size: 60px;
  }

  .keys_bg {
    width: 270px;
    height: auto;
    top: -70px;
  }

  .keys_slider_item_box_left {
    width: 500px;
    flex-shrink: 0;
  }

  .keys_slider_item_box_right {
    width: calc(100% - 510px);
  }

  .keys_slider_item_box_left .keys_slider_item_box_left_flex:nth-child(2) {
    flex-direction: column;
  }

  .keys_slider_item_box_left_flex span {
    font-size: 16px;
    width: 100%;
  }

  .keys_slider_item_box_left_flex p {
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
  }

  .keys_slider_item_box_right_item_tittle {
    font-size: 14px;
  }

  .keys_slider_item_box_right_item_graf_blue span {
    font-size: 18px;
    top: -28px;
  }

  .keys_slider_item_box_right_item_graf_grey span {
    font-size: 18px;
    top: -28px;
  }

  .rose h2 {
    font-size: 60px;
  }

  section.rose {
    padding: 100px 0 100px 0;
  }

  section {
    margin-top: 100px;
  }

  .rose_flex_left_box_item {
    padding: 15px;
  }

  .rose_headling {
    margin-top: 100px;
  }

  .rose_flex_left_box_item b {
    font-size: 14px;
  }

  .question_box_left h2 {
    font-size: 60px;
  }

  .promotion h2 {
    font-size: 60px;
  }

  .promotion_tittle {
    margin-top: 50px;
    font-size: 38px;
  }

  .promotion_bg {
    display: none;
  }

  section.last h2 {
    font-size: 60px;
  }

  section.last {
    padding: 100px 0;
  }

  .last_box_form_tittle {
    font-size: 35px;
  }

  .last_box_flex_item a {
    font-size: 20px;
  }

  .last_box_flex_item span {
    font-size: 14px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-bottom: 0px;
    margin-right: 15px;
  }

  .last_box_flex_item p {
    font-size: 16px;
  }

  .last_box {
    flex-direction: column;
  }

  .last_box_flex {
    flex-direction: column;
  }

  .last_box_flex .last_box_flex_item {
    border-right: 1px solid #ffffff33;
    width: 100%;
  }

  .last_box_flex .last_box_flex_item:nth-child(1) i {
    position: absolute;
    bottom: initial;
    width: 1px;
    left: initial;
    top: 15px;
    right: 15px;
    height: calc(100% - 30px);
  }

  .last_box_flex .last_box_flex_item:nth-child(2) i {
    bottom: initial;
    top: 15px;
    right: 7px;
    width: 17px;
    left: initial;
    height: calc(100% - 30px);
    background-image: url(../img/icon/arrow_big_mobile.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .last_box_flex_item {
    display: flex;
    align-items: center;
  }

  .last_box_form {
    width: 100%;
    padding: 60px;
    flex-shrink: 0;
  }

  .footer_flex_logo {
    max-width: initial;
    width: 100%;
    order: 1;
    display: flex;
    justify-content: center;
  }

  .footer_flex_box {
    max-width: initial;
    width: 100%;
    order: 3;
    margin-top: 40px;
  }

  .footer_flex_last {
    order: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  .footer_flex {
    flex-wrap: wrap;
  }

  .footer_flex_last a:nth-child(1) {
    text-align: center;
  }

  .footer_flex_last_big {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    align-items: center;
  }

  .footer_flex_last button {
    margin-left: 40px;
  }

  .footer_box {
    max-width: initial;
    text-align: center;
    position: relative;
    top: initial;
    left: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
}

@media (max-width: 850px) {
  .tariffs_flex {
    flex-direction: column;
    padding: 15px 15px 15px 15px;
    margin-top: 20px;
  }

  .tariffs_flex_img {
    width: 100%;
  }

  .tariffs_flex_text_one {
    font-size: 17px;
    margin-left: 0px;
    padding-right: 0px;
    margin-top: 25px;
  }

  .tariffs_flex_text_one::after {
    font-size: 17px;
  }

  .tariffs_flex_text_item .tariffs_flex_text_item_elem:nth-child(1),
  .tariffs_flex_text_item .tariffs_flex_text_item_elem:nth-child(3),
  .tariffs_flex_text_item .tariffs_flex_text_item_elem:nth-child(5) {
    margin-left: 0px;
  }

  .tariffs_flex_text_item_elem span {
    font-size: 14px;
  }

  .tariffs_flex_text_item_elem p {
    font-size: 14px;
  }

  .tariffs_flex_text_button {
    padding: 40px 0px 25px 0px;
  }

  .tariffs_flex_text_button span {
    font-size: 20px;
  }

  .tariffs_flex_text_button button {
    width: 105px;
    height: 40px;
  }

  .tariffs_flex_text_button button p {
    font-size: 12px;
  }

  .tariffs_flex_text_button button b {
    width: 33px;
    height: 33px;
  }

  .keys_headling a {
    display: none;
  }

  .keys_headling.mobile {
    display: block;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
  }

  .keys_headling.mobile a {
    display: flex;

  }

  .keys_slider_item_box {
    flex-direction: column;
  }

  .keys_slider_item_box_left {
    width: 100%;
    flex-shrink: 0;
  }

  .keys_slider_item_box_left_tittle {
    padding-top: 30px;
    font-size: 35px;
  }

  .keys_slider_item_box_left_flex {
    flex-direction: column;
    margin-top: 30px;
  }

  .keys_slider_item_box_left_flex_grey {
    width: 100%;
    margin-top: 0px;
  }

  .keys_slider_item_box_left_flex_blue {
    width: 100%;
    margin-top: 0px;
  }

  .keys_slider_item_box_right {
    width: 100%;
    margin-top: 10px;
  }

  .keys_slider_item_box_right_item_graf {
    height: 390px;
  }

  .keys_slider_item_box_right_item_graf_blue.big {
    height: 320px;
  }

  .keys_slider_item_box_right_item_graf_blue.small {
    height: 120px;
  }

  .keys_slider_item_box_right_item_graf_blue.middle {
    height: 165px;
  }

  .keys_slider_item_box_right_item_graf_grey.big {
    height: 80px;
  }

  .rose_flex {
    flex-direction: column;
    margin-top: 30px;
  }

  .rose_flex_left {
    width: 100%;

  }

  .rose_flex_right {
    width: 100%;
  }

  .question_box {
    flex-direction: column-reverse;
  }

  .question_box_left,
  .question_box_right {
    width: 100%;
  }

  section.question {
    padding-top: 170px;
    position: relative;
  }

  .question_box_left h2 {
    position: absolute;
    top: -170px;
    left: 0px;
  }
}

@media (max-width: 650px) {
  .header_flex_end_burger {
    height: 39px;
    width: 39px;
    margin-left: 10px;
  }

  .header_flex_end_burger span {
    width: 14px;
    height: 1px;
  }

  .header_flex_end_burger span:nth-child(2) {
    margin: 3px 0;
  }

  .container {
    width: auto;
    padding: 0 15px;
  }





  .header_flex {
    margin-top: 10px;
  }

  .header_flex_end button {
    width: 108px;
    height: 40px;
    margin-left: 10px;
  }

  .header_flex_end button p {
    font-size: 12px;
  }

  .header_flex_end button i {
    width: 33px;
    height: 33px;
    margin-right: -10px;
  }

  .header_flex_end button i img {
    width: 12px;
    height: 12px;
    object-fit: cover;
    object-position: center;
  }

  .header_flex_logo img {
    width: auto;
    height: 40px;
  }

  main h1 {
    padding-top: 30px;
    font-size: 50px;
    max-width: initial;
  }

  .main_flex {
    max-width: initial;
    flex-direction: column;
    position: relative;
    z-index: 3;
  }

  .main_flex_item {
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    background-color: #fff;

  }

  .main_flex_item_box {
    margin-left: 15px;
  }

  .main_flex_item b {
    flex-shrink: 0;
  }

  .main_button {
    max-width: initial;
  }

  main img {
    top: 350px;
    width: 80%;
    height: auto;
  }

  section.tariffs {
    margin-top: 200px;
  }

  .headling h2 {
    font-size: 40px;
  }

  .headling h2 span {
    font-size: 40px;
    margin-left: 100px;
  }

  .headling {
    margin-bottom: 30px;
  }

  .tariffs_flex_img span {
    top: 20px;
    left: 20px;
    font-size: 17px;
  }

  .tariffs_flex_img p {
    top: 40px;
    left: 20px;
    font-size: 20px;
  }

  .keys_headling h2 {
    font-size: 40px;
  }

  .keys_headling h2 p b {
    font-size: 40px;
  }

  .keys_headling h2 p {
    font-size: 40px;
  }

  section.keys {
    margin-top: 100px;
  }

  .keys_bg {
    width: 170px;
    height: auto;
    top: -20px;
    left: 80px;
  }

  .keys_slider {
    margin-top: 30px;
    position: relative;
    z-index: 3;
  }

  .keys_slider_item_box_left_tittle span,
  .keys_slider_item_box_left_tittle {
    font-size: 23px;
  }

  .keys_slider_item_box_left_flex span {
    font-size: 14px;
    width: 100%;
  }

  .keys_slider_item_box_left_flex p {
    font-size: 14px;
  }

  .keys_slider_item_box_left_flex p i {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 7px;
  }

  .keys_slider_item_box_left_flex {
    margin-top: 20px;
  }

  .keys_slider_item_box_left_flex_grey {
    padding: 20px;
  }

  .keys_slider_item_box_left_flex_blue {
    padding: 20px;
  }

  .keys_slider_item_box_right_item_tittle {
    font-size: 12px;
  }

  .rose h2 {
    font-size: 40px;
  }

  .rose h2 i {
    padding-left: 90px;
  }

  .rose_headling {
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .rose_headling h2 {
    max-width: 300px;
  }

  .rose_flex_left_box {
    flex-direction: column;
    height: auto;
  }

  .rose_flex_left_box_item {
    width: 100%;
  }

  .rose_flex_left_box_item {
    border-right: 1px solid #ececec;
    display: flex;
    align-items: center;
    padding: 30px 15px;
    position: relative;
  }

  .rose_flex_left_box_item span {
    width: 45px;
    height: 45px;
    margin-bottom: 0px;
    line-height: 45px;
    margin-right: 15px;
  }

  .rose_flex_left_box_item p {
    font-size: 17px;
  }

  .rose_flex_left_box_item p.active {
    font-size: 17px;
    margin-top: -25px;
  }

  .rose_flex_left_box_item b {
    position: absolute;
    width: calc(100% - 90px);
    bottom: 35px;
    left: 75px;
  }

  .rose_flex_right_tittle {
    font-size: 23px;
  }

  .rose_flex_right p {
    font-size: 17px;
  }

  .rose_flex_right button {
    width: 135px;
    height: 39px;
    margin-top: 30px;
  }

  .rose_flex_right button b {
    width: 33px;
    height: 33px;
    margin-right: -17px;
  }

  .rose_flex_right button span {
    font-size: 12px;
  }

  .rose_flex_right button b i {
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .rose_headling span {
    font-size: 14px;
  }

  .rose_item span {
    font-size: 23px;
  }

  .rose_item p {
    font-size: 14px;
    margin-top: 10px;
  }

  section.question {
    padding-top: 110px;
  }

  .question_box_left h2 {
    font-size: 40px;
    top: -110px;
  }

  .accordion_item_head {
    padding: 20px 70px 20px 20px;
    font-size: 17px;
    line-height: 40px;
  }

  .accordion_item_head::after {
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
  }

  .accordion_item_head::before {
    right: 34px;
    top: 20px;
    font-size: 18px;
  }

  .open .accordion_item_head::before {
    right: 36px;
    top: 20px;
    font-size: 18px;
  }

  .accordion_item_body {
    padding: 0 70px 20px 20px;
  }

  .accordion_item_body p {
    font-size: 14px;
  }

  .accordion_item_body ul li {
    font-size: 14px;
  }

  .accordion_item_body ul li::after {
    top: 9px;
  }

  .question_box_left span {
    font-size: 20px;
    margin-top: 30px;
  }

  .question_box_left button {
    width: 184px;
    height: 40px;
    margin-top: 20px;
  }

  .question_box_left button p {
    font-size: 12px;
    margin-right: 15px;
  }

  .question_box_left button b {
    width: 33px;
    height: 33px;
    margin-right: -13px;
  }

  .question_box_left button b i {
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .promotion h2 {
    font-size: 40px;
  }

  .promotion_tittle {
    margin-top: 40px;
    font-size: 28px;
  }

  .promotion_subtittle {
    font-size: 16px;
    margin-top: 15px;
  }

  .promotion ul li {
    font-size: 16px;
  }

  .promotion ul li::after {
    top: 10px;
  }

  section.last h2 {
    font-size: 40px;
  }

  .last_box {
    margin-top: 30px;
  }

  .last_box_flex .last_box_flex_item {
    padding: 30px 15px;
  }

  .last_box_flex_item a {
    font-size: 17px;
  }

  .last_box_flex_item p {
    font-size: 14px;
  }

  .last_box_form {
    padding: 30px;
  }

  .last_box_form_flex {
    flex-direction: column;
    height: 138px;
  }

  .last_box_form_flex_input {
    width: 100%;
  }

  .last_box_form_wrap {
    margin-top: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .last_box_form_wrap p {
    width: 100%;
  }

  .last_box_form_wrap_file {
    width: 100%;
    margin-top: 10px;
  }

  footer {
    padding: 50px 0;
  }

  .footer_flex_logo img {
    width: 180px;
    height: auto;
  }

  .footer_flex_last a:nth-child(1) {
    font-size: 23px;
  }

  .footer_flex_last_big a {
    font-size: 20px !important;
  }

  .footer_flex_last button {
    width: 108px;
    height: 39px;
    margin-left: 0;
  }

  .footer_flex_last_big {
    justify-content: space-between;
    width: 100%;
  }

  .footer_flex_last button p {
    font-size: 12px;
    margin-right: 12px;
  }

  .footer_flex_last button b {
    width: 33px;
    height: 33px;
    margin-right: -12px;
  }

  .footer_flex_last button b i {
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .footer_flex_box_item_elem p,
  .footer_flex_box_wrap span,
  .footer_flex_box_item_elem i {
    font-size: 14px;
  }

  .footer_flex_box_item_box a,
  .footer_flex_box_wrap a {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .footer_flex_box_item_elem {
    margin-bottom: 15px;
  }

  .footer_flex_box_wrap span {
    margin-bottom: 15px;
  }

  .footer_box p {
    font-size: 12px;
  }

  .footer_box a {
    font-size: 12px;
  }

  .footer_flex_box_item {
    max-width: 250px;
  }

  .menu .header_flex {
    padding-left: 15px;
    padding-right: 15px;
  }

  .menu_link {
    padding: 30px 15px;
  }

  .menu_box_elem {
    padding: 30px 15px;
  }

  .menu_box_elem::after {
    right: 15px;
    top: 33px;
  }

  .menu_box_wrap_item {
    padding: 15px 15px;
  }

  .menu_footer {
    padding: 20px 15px;
  }


}

@media (max-width: 530px) {
  main img {
    top: 290px;
    width: 80%;
    height: auto;
  }

  main {
    margin-top: 0px;
  }

  main h1 {
    font-size: 34px;
    max-width: 350px;
  }

  .main_flex {
    margin-top: 30px;
  }

  .main_flex_item b {
    width: 45px;
    height: 45px;
  }

  .main_flex .main_flex_item i {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .main_flex_item span {
    font-size: 17px;
    margin: 0px 0 2px 0;
  }

  .main_flex_item p {
    font-size: 14px;
  }

  .main_button {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .main_button_icon {
    width: 33px;
    height: 33px;
    position: absolute;
    right: 15px;
    top: 30.5px;
  }

  .main_button_icon i {
    width: 12px;
    height: 12px;
  }

  .main_button_text {
    font-size: 17px;
  }

  .headling h2 {
    font-size: 27px;
  }

  .headling h2 span {
    font-size: 27px;
    margin-left: 70px;
  }

  .headling {
    justify-content: space-between;
    position: relative;
    z-index: 3;
  }

  .headling p {
    margin-left: 0px;
    font-size: 14px;
    margin-bottom: 3px;
  }

  .keys_headling h2 {
    font-size: 27px;
  }

  .keys_headling h2 p b {
    font-size: 27px;
  }

  .keys_headling h2 p {
    font-size: 27px;
  }

  .keys_bg {
    width: 150px;
    height: auto;
    top: -30px;
    left: 70px;
  }

  .keys_slider {
    margin-top: 20px;
  }

  .keys_slider_nav_prev,
  .keys_slider_nav_next {
    width: 40px;
    height: 40px;
  }

  .keys_slider_nav {
    margin-top: 30px;
    width: 90px;
    margin-left: auto;
    height: 40px;
  }

  .keys_slider_nav_next i,
  .keys_slider_nav_prev i {
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .keys_headling.mobile {
    bottom: 0px;
    left: 15px;
    transform: translateX(0%);
  }

  .tariffs_flex_text_button button b i {
    width: 12px;
    height: 12px;
    background-size: cover;
    background-position: center;
  }

  .keys_headling a {
    width: 123px;
    height: 40px;
  }

  .keys_headling a p {
    font-size: 12px;
    margin-right: 10px;
  }

  .keys_headling a i {
    width: 12px;
    height: 12px;
    background-size: cover;
  }

  .rose h2 {
    font-size: 27px;
  }

  section.rose {
    padding: 60px 0 60px 0;
    margin-top: 60px;
  }

  .rose_flex_left_box_item b {
    position: absolute;
    width: calc(100% - 90px);
    bottom: initial;
    top: 49px;
    left: 75px;
  }

  .rose h2 i {
    padding-left: 60px;
  }

  section.question {
    padding-top: 84px;
  }

  .question_box_left h2 {
    font-size: 27px;
    top: -84px;
  }

  section.question {
    margin-top: 60px;
  }

  .promotion h2 {
    font-size: 27px;
  }

  .promotion_tittle {
    font-size: 23px;
  }

  .promotion_subtittle {
    font-size: 14px;
    margin-top: 15px;
  }

  .promotion ul li {
    font-size: 14px;
  }

  .promotion ul li::after {
    top: 8px;
  }

  section.promotion {
    margin-top: 60px;
  }

  .promotion ul {
    margin-top: 15px;
  }

  .promotion button {
    width: 169px;
    height: 40px;
    margin-top: 30px;
  }

  .promotion button p {
    font-size: 12px;
    margin-right: 10px;
  }

  section.last {
    padding: 60px 0;
    margin-top: 60px;
  }

  section.last h2 {
    font-size: 27px;
  }

  .last_box_form_tittle {
    font-size: 23px;
  }

  .last_box_form_flex_input {
    height: 50px;
  }

  .last_box_form_flex_input input {
    height: 50px;
    padding: 0 25px;
    font-size: 14px;
  }

  .last_box_form_flex {
    height: 110px;
  }

  .last_box_form_flex_input span {
    top: 14px;
    font-size: 14px;
    left: 25px;
  }

  .last_box_form textarea {
    height: 170px;
    padding: 15px 25px;
    font-size: 14px;
  }

  .last_box_form textarea::placeholder {
    font-size: 14px;
  }

  .last_box_form_wrap p {
    font-size: 14px;
  }

  .last_box_form_wrap p a {
    font-size: 14px;
  }

  .last_box_form_wrap_file {
    height: 50px;
  }

  .last_box_form_wrap_file input {
    height: 50px;
  }

  .last_box_form_wrap_file label {
    width: 100%;
    height: 50px;
  }

  .last_box_form_wrap_file label span {
    font-size: 14px;
    margin-left: 7px;
  }

  .last_box_form_wrap_file label i {
    width: 16px;
    height: 16px;
  }

  .last_box_form_submit {
    height: 50px;
  }

  .last_box_form_submit p {
    font-size: 12px;
    margin-left: -24px;
  }

  .last_box_form_submit b {
    width: 44px;
    height: 44px;
    right: 3px;
    top: 3px;
  }

  .last_box_form_politico {
    font-size: 12px;
  }

  .last_box_form_politico a {
    font-size: 12px;
  }
}

@media (max-width: 430px) {
  main img {
    top: 330px;
    width: 90%;
  }

  section.tariffs {
    margin-top: 150px;
  }

  .keys_slider_item_box_right_item_graf_blue.big {
    height: 240px;
  }

  .keys_slider_item_box_right_item_graf {
    height: 320px;
  }

  .keys_headling h2 p {
    margin-left: 35px;
  }
}

@media (max-width: 360px) {
  main img {
    top: 350px;
    width: 100%;
  }

  section.tariffs {
    margin-top: 100px;
  }

  .rose_flex_left .rose_flex_left_box:nth-child(2) .rose_flex_left_box_item:nth-child(2) {
    padding-bottom: 45px;
  }

  .footer_flex_box_item {
    max-width: initial;
    flex-shrink: 1;
  }

  .footer_flex_box_wrap {
    flex-shrink: 0;
    margin-left: 10px;
  }
}